<!DOCTYPE html>
<html>
<head>
  <title>Employee Profile</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        Student Management
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if(locals.employee) { %> 
              <li class="nav-item"> 
                <a class="nav-link" href="/employee/log-out">logout</a>
              </li>
                <%}%>

          </ul>
      </div>
    </div>
    </nav>
  <div class="container">
    <h1>Employee Profile</h1>
    <form method="POST" action="/employee/profile/<%= employee._id %>">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= employee.name %>" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= employee.email %>" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <!-- Include Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
